# Python virtual environment
.venv/
__pycache__/
*.pyc

# Data and Outputs (Too large for GitHub)
capstone/data/
capstone/outputs/
images/

# IDE settings
.vscode/
.idea/

# Environment variables / API Keys
.env